<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic_layout}">

<!-- fragment -->
<div layout:fragment="content">
    <div th:insert="~{content-header::content-header}"></div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img class="img-fluid" th:src="@{/dist/img/gtg-logo.png}">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
